<!-- app/views/users/edit_profile.html.erb -->

<h2>プロフィールの編集</h2>
<div class="info">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
        <%= f.label :ユーザー画像 %><br />
        <%= f.file_field :avatar %>
    </div>

    <div class="field">
        <%= f.label :ユーザーネーム %><br />
        <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
        <%= f.label :自己紹介文 %><br />
        <%= f.text_area :bio %>
    </div>

    <div class="actions">
        <%= f.submit "更新" %>
    </div>
    <% end %>

    <%= link_to "戻る", :back %>
 </div>