<h1 class="title">新規予約内容確認</h1>

<div class="confirmation-container">
    <h3><%= @room.name %></h3>
    <p class="subtitle">チェックイン日: <%= @reservation.start_date.strftime("%Y年%m月%d日") %></p>
    <p class="subtitle">チェックアウト日: <%= @reservation.end_date.strftime("%Y年%m月%d日") %></p>
    <p class="subtitle">滞在日数: <%= @reservation.stay_duration %> 泊</p>
    <p class="subtitle">人数: <%= @reservation.number_of_people %></p>
    <p class="subtitle">合計金額: <%= @reservation.total_price %> 円</p>

    <h5 class="confirmation-message">上記内容で正しければ『確定』ボタンを押してください。</h5>

    <%= form_with(model: @reservation, method: :post) do |f| %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.hidden_field :start_date, value: @reservation.start_date %>
      <%= f.hidden_field :end_date, value: @reservation.end_date %>
      <%= f.hidden_field :number_of_people, value: @reservation.number_of_people %>
      <%= f.hidden_field :price, value: @room.price %>
      <%= f.submit '確定する', class: 'submit-button' %>
    <% end %>
    <%= link_to "戻る", room_path(@room), class: "back-link btn btn-outline-secondary" %>
  </div>