<h1>予約内容確認</h1>

  <h3>チェックイン日: <%= @reservation.start_date %></h3>
  <h3>チェックアウト日: <%= @reservation.end_date %></h3>
  <h3>滞在日数: <%= @reservation.stay_duration %> 泊</h3>
  <h3>人数: <%= @reservation.number_of_people %></h3>
  <h3>合計金額: <%= @reservation.total_price %> 円</h3>


<h4>上記内容で正しければ『確定』ボタンを押してください。</h4>

<%= link_to '戻る', new_room_reservation_path(@room, reservation: @reservation) %>

<%= form_with(model: @reservation, method: :post, url: confirm_update_room_reservation_path(@room, @reservation)) do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.hidden_field :start_date, value: @reservation.start_date %>
    <%= f.hidden_field :end_date, value: @reservation.end_date %>
    <%= f.hidden_field :number_of_people, value: @reservation.number_of_people %>
    <%= f.hidden_field :price, value: @room.price %>
    <%= f.submit '登録する', class:'btn-warning mt-3 col-md-9'%>
  <% end %>