<h1>予約済み一覧</h1>

<table class="table align-middle OwnRoomsTable">
  <thead>
    <tr>
      <th>施設画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>合計料金</th>
      <th>チェックイン日</th>
      <th>チェックアウト日</th>
      <th>予定確定日時</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @reservations.each do |reservation| %>
    <tr>
    <td>
    <% room = reservation.room %>
    <% if room.image? %>
      <%= link_to room_path(room), class: "btn btn-outline-warning" do %>
        <%= image_tag(room.image.url, alt: 'Room Image', class: 'room-image') %>
      <% end %>
    <% else %>
      <%= link_to room_path(room), class: "btn btn-outline-dark" do %>
        <%= image_tag('https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png', alt: 'Default Image', class: 'room-image') %>
      <% end %>
    <% end %>
  </td>
      <td><%= link_to room.name, room_path(room), class: "btn btn-light" %></td>
      <td><%= reservation.room.description %></td>
      <td>¥<%= number_with_delimiter(reservation.total_price) %></td>
      <td><%= reservation.start_date.strftime("%Y年%m月%d日") %></td>
      <td><%= reservation.end_date.strftime("%Y年%m月%d日") %></td>
      <td><%= reservation.confirmed_at.strftime("%Y年%m月%d日 %H:%M") if reservation.confirmed_at %></td>
      <td>
        <%= link_to '詳細', reservation_path(reservation), class: "btn btn-light" %>
        <%= button_to '削除', reservation, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-danger" %>
      </td>
    
    </tr>
  <% end %>
  </tbody>
</table>
