  <h1>予約が確定しました！</h1>
  <div class="confirmation-container">
  <h3><%= @room.name %></h3>
  <p class="subtitle">チェックイン日: <%= @reservation.start_date.strftime("%Y年%m月%d日") %></p>
  <p class="subtitle">チェックアウト日: <%= @reservation.end_date.strftime("%Y年%m月%d日") %></p>
  <p class="subtitle">滞在日数: <%= @reservation.stay_duration %> 泊</p>
  <p class="subtitle">人数: <%= @reservation.number_of_people %></p>
  <p class="subtitle">合計金額: <%= @reservation.total_price %> 円</p>

  <%= link_to '予約済み一覧', reservations_path %>
  </div>
